.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1rem;
}

.view-all {
    display: inline-block;
    outline: none;
    border: 0.2rem grey solid;
    border-radius: 1rem;
    padding: 0.8rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 3rem 0;
    text-decoration: none;
    transition: 0.2s;
}

.view-all:hover {
    transform: scale(1.1);
}