.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.2s;
	border-radius: 5px;
	cursor: pointer;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	transform: translateY(-0.5rem);
}

.card-content {
	padding: 1.2rem 1rem;
}

.card-name {
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

.card-price {
	color: green;
}

.card-image-bg {
	position: relative;
	width: 100%;
	height: 12rem;
	border-radius: 5px 5px 0 0;
}

.card-image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
